{% extends 'workerforms/worker_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
   {% csrf_token %}
  <table width="659" border="1">
    <tr>
      <th width="14" scope="col">#</th>
      <th width="110" scope="col">User Info</th>
      <th width="46" scope="col"> Date </th>
      <th width="120" scope="col">Remark </th>
      <th width="112" scope="col">Location</th>
      <th width="217" scope="col">Action</th>
    </tr>
      {% for i in data %}
    <tr>
      <td height="72">{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.USER_TABLE.name }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.remark }}</td>

      <td>&nbsp;<a href="https://www.google.com/maps/?q={{ i.latitude }},{{ i.longitude }}" >Locate</a></td>
        {% if i.status == "approved" %}
      <td><a href="/work_complete/{{ i.id }}">Update As Complete</a><br /><a href="#">Secret Code</a><br /><a href="/chatt/{{ i.USER_TABLE.id }}">CHAT</a></td>
    {% else %}
            <td>Completed</td>
    {% endif %}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}